body {
  font-weight: 300;
  font-size: 18px;
  background: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
}


header{
//  background: url('../img/header-bg.jpg') no-repeat top center;
  background-image: url("../img/header-bottom.jpg"), url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, top center;
  background-size: 100% 15%, cover;
}
header svg{
  margin: 90px auto 0px auto;
  padding-bottom: 48px;
}

.main-navbar {
//  background-color: #fafafa;
//  border-bottom: 1px #c0c0c0 solid;
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;

}

#bs-example-navbar-collapse-1{
  margin-top: 45px;
}

#bs-example-navbar-collapse-1 ul.nav{
  background: #ececec;
//  border:1px solid #FFF;
}

li.home>a{
  border-right: 1px solid #b6b6b6;
}

#bs-example-navbar-collapse-1 .navbar-right{
  background: #ececec;
}

#bs-example-navbar-collapse-1 .logo{
  margin-top: -17%;
}

.main-navbar a{
  font-weight: 300 !important;
}

a:hover{
  color: #ff7200;
}

figure.logo {
//  background-color: #fafafa;
  margin-bottom: -114px;
  display: inline-block;
  position: relative;
  z-index: 9999;

  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

a{
  color: inherit;
}

//Containers
.dark {

  background: #282c2f;
  padding: 20px 0;
  color: #FFF !important;

}

.mid-dark {
  background: #bcbcbc;
  padding: 20px 0;
  color: #3c3c3c !important;
}

//Alignments

.center, .center img, img.center {
  margin: 0 auto;
  text-align: center;
}

.italic{
  font-style: italic;
}

//Spaces
.spc-sm {
  height: 10px;
}

.spc-md {
  height: 20px;
}

.spc-lg {
  height: 50px;
}

//Colors
.white {
  color: #ffffff;
}

//Titles

.head-title {
  font-size: 50px;
  letter-spacing: 2px;
}

.head-title small {
  display: block;
  font-weight: 300;
  font-size: 50%;
}

.head-title .shadow {
  margin-top: 10px;
}

//Headers
h2, h3 {
  letter-spacing: 1px;
}

//Font weights
.fw800 {
  font-weight: 800;
}

.fw300{
  font-weight: 300;
}

.fw800 .fa {
  font-size: 50px;
}

//Displays
.block {
  display: block;
}

//Shadow
.shadow2 {
  $height: 66;
  background: url("../img/shadow2.png") no-repeat center;
  height: $height+px;
  margin-bottom: -$height+px;
  position: relative;
}

//Profile
.profile {
  background-size: cover;
  background-position: center;
  transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
}

.profile:hover{
  background-size: 200%;
}


//Featured Box
.featured-box{
  background: #4c4c4c;
  padding: 20px;
  color: #FFF;
}

.condensed{
  margin: 0;
  padding: 0;
}

//Btns
.btn-light{
  background: #ffdfcf;
  color: #d24702;
  font-weight: 600;
}

.btn-dark-red{
  background: #d24702;
  color: #f4beaa;
  font-weight: 600;
}

.btn-green{
  background: #5a9241;
  color: #FAFAFA;
  font-weight: 600;
}

//Forms
$marginBottom: 7px;
$formHeight: 59px;

.form input[type='text'], .form input[type='email'], .form select, .form textarea{
  font-style: italic;
  border: none;
  padding: 15px;
  display: block;
  width: 100%;
  min-height: $formHeight;
  font-size: 20px;
  margin-bottom: $marginBottom;
  border-radius: 0;
}

.form select{
  height: $formHeight;
}

.dark-form input[type='text'], .dark-form input[type='email'], .dark-form select, .dark-form textarea{
  background: #4c4c4c;
  color: #FFF;
}

.light-form input[type='text'], .light-form input[type='email'], .light-form select, .light-form textarea{
  background: #e2e2e2;
  color: #858585;
}

.dark-form .btn, .light-form .btn{
  padding: 15px;
  font-size: 16px;
  display: block;
  height: 59px;
  vertical-align: middle;
  border-radius: 0;
  margin-bottom: $marginBottom;
}


//footer

footer{
  background: #181818;
  padding: 40px 0;
  color: #FFF;
}

footer .copyright{
  font-size: 16px;
  letter-spacing: 1px;
}

footer .menu{
  display: block;
  list-style: none;
  margin-top: 40px;
}

footer .menu li{
  display: inline-block;
}

footer .menu a{
  display: block;
  padding: 10px 20px;
  font-size: 120%;
}

footer .menu a:hover{
  color: #ff7200;
}

footer .socials a{
  font-size: 50px;
  color: #282828;
  padding: 0 7px;
  display: inline-block;
}

footer .socials a:hover{
  color: #ff7200;
}

//Leads
span.lead{
  letter-spacing: 2px;
}

//Captcha
img.captcha{
  width: 100% !important;
  height: 100% !important;
}

.icon-bar{
  margin: 0 auto;
}



/*Services*/
#services .item{
  background: #FFF;
  color: #222;
  padding: 20px;
  border-radius: 11px;
  margin-bottom: 25px;
  min-height: 180px;
}

#services .item p{
  font-size: 16px;
}

#services .item .spc-lg{
  height: 100px !important;
}

/*SVG*/
.node.news-feed{
  font-size: 20px;
  padding: 0 5px;
}
.node.news-feed>div>small{
  text-transform: uppercase;
}
.node.video>div{
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  width: 245px;
}


/*Arrow Down*/
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow-grey{

  bottom: -10px;
  padding: 5px 10px;
  font-family: sans-serif;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  color: #828282;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #E6E6E6;
  background-image: -moz-linear-gradient(top, #EBEBEB, #DEDEDE);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEBEB), to(#DEDEDE));
  background-image: -webkit-linear-gradient(top, #EBEBEB, #DEDEDE);
  background-image: -o-linear-gradient(top, #EBEBEB, #DEDEDE);
  background-image: linear-gradient(to bottom, #EBEBEB, #DEDEDE);
  background-repeat: repeat-x;
  -webkit-transition: bottom 150ms linear;
  -moz-transition: bottom 150ms linear;
  transition: bottom 150ms linear;

}

.arrow {
  position: absolute;
  bottom: 30px;
  right: 50px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  font-size: 50px;
  background-size: contain;
}

.arrow-top {
  position: absolute;
  top: 30px;
  right: 50px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  font-size: 50px;
  background-size: contain;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


.navbar-hide{
  transition: .4s all ease-out;
  display: block !important;
}
.navbar-hide.gone{
  margin-top: -100px;
}
.navbar-hide.show{
  margin-top: 0;
}
