@media(max-width:767px){

  figure.logo{
    margin-bottom: -73px !important;
    width: 200px;
  }

  .navbar-brand img{
    height: 70px !important;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
    .wow {
      visibility: visible !important;
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
    }
}