div.wpcf7-validation-errors {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid transparent !important;
  border-color: #ebccd1;
  margin-left: 0;
  margin-right: 0;
  padding: 15px !important;
  margin-bottom: 20px;
  border-radius: 4px;
}

div.wpcf7-mail-sent-ok {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid transparent !important;
  border-color: #d6e9c6;
  padding: 15px !important;
  margin-bottom: 20px;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
}